<div class="pokemon">
<h2><%= @pokemon.name %></h2>
<img src="<%= @pokemon.img_url %>">
  <p>Pokemon Type: <%= @pokemon.poke_type %></p>
  <p>Combat Power: <%= @pokemon.cp %></p>
  <p><a href='/pokemons/<%= @pokemon.id %>/edit'>Pokemon Editor</a></p>
</div>
